@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  background: rgb(84, 0, 44);
  background: linear-gradient(160deg, rgb(0, 7, 44) 0%, rgb(22, 7, 155) 100%);
}